body {
  padding: 0px;
  margin: 0px;
}
#main-section{
    width: 100%;
    padding: 0;
}
#main-aside{
    width: 100%;
    padding: 0;
    margin: 0;
}
.aside-list{
    padding: 0;
    width: 100%;
}

#main-navigation{
    float: none;
    width: 100%;
}